@tailwind base;
@tailwind components;
@tailwind utilities;
.test-bg {
    @apply bg-red-500;
  }
  .test-height {
    @apply h-20;
  }
body.modal-open {
  overflow: hidden;
}

/* Глобальный тонкий скроллбар */
.scrollbar-thin::-webkit-scrollbar {
  width: 6px;
}
.scrollbar-thin::-webkit-scrollbar-track {
  background: transparent;
}
.scrollbar-thin::-webkit-scrollbar-thumb {
  background-color: rgba(0, 50, 45, 0.4);
  border-radius: 6px;
}

/* Для Firefox */
.scrollbar-thin {
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 50, 45, 0.4) transparent;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}
.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
