@tailwind base;
@tailwind components;
@tailwind utilities;
.test-bg {
    @apply bg-red-500;
  }
  .test-height {
    @apply h-20;
  }
body.modal-open {
  overflow: hidden;
}

/* Глобальный тонкий скроллбар */
.scrollbar-thin::-webkit-scrollbar {
  width: 6px;
}
.scrollbar-thin::-webkit-scrollbar-track {
  background: transparent;
}
.scrollbar-thin::-webkit-scrollbar-thumb {
  background-color: rgba(0, 50, 45, 0.4);
  border-radius: 6px;
}

/* Для Firefox */
.scrollbar-thin {
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 50, 45, 0.4) transparent;
}
/* -------------------------------------------- */
@layer utilities {
  @keyframes logo-spin-bounce {
    0% {
      transform: rotate(0deg) scale(1);
      opacity: 0.8;
    }
    50% {
      transform: rotate(180deg) scale(1.15);
      opacity: 1;
    }
    100% {
      transform: rotate(360deg) scale(1);
      opacity: 0.8;
    }
  }

  .animate-logo-spin-bounce {
    animation: logo-spin-bounce 2s infinite ease-in-out;
  }
}

